
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}


/* Student Details and Quiz */

#quiz-container,
#quiz {
    background-color: white;
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}


/* Input boxes */

input {
    width: 200px;
    padding: 8px;
    margin: 5px;
}


/* All option buttons */

.question button {
    width: 350px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}


/* Hover effect */

.question button:hover {
    background-color: #eeeeee;
}


/* Next and Submit buttons */

.next-btn {
    background-color: #333 !important;
    color: white;
    width: 150px !important;
}


/* Start button */

#quiz-container button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Result */

#result {
    margin-top: 30px;
}

